[user]
	email = michaelmdeng@gmail.com
	name = Michael Deng
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[rerere]
	enabled = true
[alias]
	co = checkout
	st = status
	ci = commit
	br = branch
	rb = rebase
	lo = log
	ls = log --oneline --decorate
	bi = bisect
	bl = blame
	a = add
	f = fetch
	pl = pull
	ph = push
	graph = log --oneline --decorate --graph --all

[push]
	default = simple
