[user]
	email = michaelmdeng@gmail.com
	name = Michael Deng
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[rerere]
	enabled = true
[alias]
	co = checkout
	cof = !git for-each-ref --format=\"%(refname:short)\" refs/heads | fzf | xargs git checkout
	st = status
	ci = commit
	cia = commit -a
	br = branch
	rb = rebase
	lo = log
	ls = log --oneline --decorate
	bi = bisect
	bl = blame
	a = add
	f = fetch
	pl = pull
	ph = push
	graph = log --oneline --decorate --graph --all
	fix2 = rebase -i HEAD~2	
	fix3 = rebase -i HEAD~3	
	fix4 = rebase -i HEAD~4	
	fix5 = rebase -i HEAD~5	

[push]
	default = simple
[merge]
	tool = nvim
	conflictstyle = diff3
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiff\" \"$MERGED\"
	tool = nvim
	prompt = false
