# Lists

snippet itemize "bullet list" b
\\begin{itemize}
    \item ${1:item1}
\\end{itemize}
endsnippet

snippet enumerate "numbered list" b
\\begin{enumerate}
    \item ${1:item1}
\\end{enumerate}
endsnippet

snippet description "definition list" b
\\begin{description}
    \item[${1:item1}] ${2:description}
\\end{description}
endsnippet


# Beamer

snippet frame "beamer frame" b
\\begin\{frame\}
\\frametitle\{${1:title}\}
\\end\{frame\}
endsnippet
