layout {
    tab name="midenrc" cwd="~/.homesick/repos/midenrc" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
        pane split_direction="vertical" {
            pane name="editor" size="67%" focus=true {
                command "nvim"
                args "."
            }
            pane {
                pane name="shell"
                pane name="shell"
            }
        }
    }
    tab name="mdcli" cwd="~/Source/mdcli" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
        pane split_direction="vertical" {
            pane name="editor" size="67%" focus=true {
                command "nvim"
                args "."
            }
            pane {
                pane name="shell"
                pane name="shell"
            }
        }
    }
}
